body {
    color: #414141; /* Dark gray */
    background-color: #EEEEEE; /* Light gray */
    font-size: 18px;
}

h1 {
    font-size: 2em;
    font-family: "Helvetica", "Arial", sans-serif;
}

h2 {
    font-size: 1.6em;
}

h1, h2 {
    font-family: "Helvetica", "Arial", sans-serif;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: lower-roman;
}

a {
    text-decoration: none;
}

p {
    text-align: left;
}

.synopsis {
    color: #7E8184;
    font-style: italic;
}

.button:link
.button:visited {
    display: block;
    text-decoration: none;

    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.button:hover,
.button:visited:hover {
    color: #FFF;
    background-color: #76AEED;
}

.button:active,
.button:visited:active {
    color: #FFF;
    background-color: #5995DA;
}

.page {
    width: 600px;
    margin: 0 auto;
}

#button-2{
    background-color: #D55C5F;
}

.call-to-action:link,
.call-to-action:visited {
    font-style: italic;
    background-color: #EEB75A;
}

.call-to-action:hover,
.call-to-action:visited:hover {
    background-color: F5CF8E;
}

.call-to-action:active,
.call-to-action:visited:active {
    background-color: #EEB75A;
}

.synopsis em {
    font-style: normal;
}

