
  /*Custom fonts*/
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pinyon+Script&family=Playfair+Display&display=swap');

  /* Browser defaults */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  /*Smooth scroll effect*/
  html {
    scroll-behavior: smooth;
  }
  
  /*Background color of side border*/
  body {
    background-color: #000000;
  }

  
  
  .typewriter-page {
    margin: 0 auto; /*Centers*/
    max-width: 65em; /*Width of side border*/
  
    background-color: #FAFAFA; 
  
    font-family: 'Times New Roman', Times, serif, monospace;
    color: #444444;
  
    line-height: 1.5;
    padding-top: 2.5em;
    padding-bottom: 1.25em;
    padding-left: 10em;
    padding-right: 10em;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  .title-and-logo {
    display: flex;
    justify-content: center;
  }
  
  .title-text { /*Music for a Sushi Restaurant*/
    align-items: center;
  
    font-family:'Lato', sans-serif;
    font-weight: normal;
    height: 1.5em;
    font-size: 1.5em;
  }
  
  
  /* Navigation bar stays in place */
  .nav-bar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FAFAFA;
  }
  
  nav.main-nav > ul {
      list-style-type: none;
      height: 3em;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  nav.main-nav > ul > li {
    padding-top: 11em;
    padding-bottom: 10em;
  }
  
  nav.main-nav > ul > li > a { /*Nav bar text*/
    text-decoration: none;
    font-weight: 900; 
    font-size: .9rem; 
    color: #a90d70; /*Pen color*/
    font-family: 'Lato', sans-serif;
    padding-left: .5em;
    padding-right: .5em;
  
    /*Alignment */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  nav.main-nav > ul > li > a:hover {
    text-decoration: none;
    font-weight: 900;
    font-size: .95rem;
    color: #444444;
  }
  
  nav.main-nav > ul > li > a::after {
    content: attr(data-text);
    content: attr(data-text) / "";
    height: 0;
    font-size: .95rem; 
    font-weight: 900; 
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }
  
  .image-and-header {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1 
  }
  
  
  .page-section h1,
  .image-and-header h1 {
      padding-top: 1.25em;
      padding-bottom: 0.3em;
      color: #333333; 
      font-family: 'Lato', sans-serif;
      font-weight: normal;
  
      display: flex;
      justify-content: center;
      font-size: 1.3em;
  }
  
  /* Fix navigation bar */
  h1 span {
    margin-top: -2.3em;
    padding-bottom: 2.3em;
    display: block;
  }
  
  /*h2 settings*/
  .page-section > h2 {
    text-align: center;
    padding-top: .25em;
  
    font-size: 0.9em;
    font-style: normal;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
  }

  /*h3 settings*/
  .page-section > h3 {
    display: flex;
    justify-content: center;
  
    padding-top: .5em;
    font-family: "Arial", monospace;
    font-size: 1.5em;
    font-weight: normal;
  }
  
  /*h4 settings - separation dash*/
  .page-section > h4 {
    display: flex;
    justify-content: center;
  
    text-align: center;
    padding-top: 1em;

    font-family: "Times New Roman", monospace;
    font-size: 1.25em;
    font-weight: lighter;
    color:#a90d70;

  }
  
  /*p settings*/
  .page-section > p {
    padding-top: 1em;
    font-size: 1em;

    font-family: 'Playfair Display', serif;
  }
  
  /* em settings */
  em {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #a90d70;
  }
  
  .page-section > p > a,
  .page-section > p > normal,
  .credits-section > a {
    text-decoration: none;
    font-weight: 700; 
    color: #a90d70;
    font-size: 1rem; 
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page-section > p > a:hover {
    text-decoration: none;
    font-weight: 900; 
    font-size: 1.05rem;
    color: #444444;
  }
  
  .page-section > p > a::after {
    content: attr(hover-text);
    content: attr(hover-text) / "";
    height: 0;
    font-weight: 900; 
    font-size: 1.05rem;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }
  
  @media speech {
    nav.main-nav > ul > li > a::after {
      display: none;
    }
    .page-section > p > a::after {
      display: none;
    }
  }
  

  .menu-container > h2 { /*Menu categories*/
    padding-top: 3em;
    text-align: left;
    font-family: 'Pinyon Script', cursive;
    font-weight: normal;
    font-size: 1.4em;
  }
  
  .menu-container > h3 {
    padding-top: 1em;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
  }
  
  .item-top-bar { /*Menu top bar/ food items*/
    display: flex;
    justify-content: space-between;
    font-weight: 300em;
    padding-top: 0.8em;
    font-family: 'Lato', sans-serif;
    font-size: .9em;
  }
  
  .item-bottom-bar { /*Menu bottom bar/ descriptions*/
    padding-top: .5em;
    padding-left: 2em;
  
    font-size: .85em;
    font-style: normal;
    font-family: 'Lato', sans-serif;
  }
  
  .credits-section {
    padding-top: 3em;
    text-align: center;
    font-size: .8em;
    padding-bottom: 15em;
    font-family: "Playfair Display", serif;
  }
  
  .credits-section > p > em > a {
    text-decoration: none;
    font-weight: bold;
    color: #a90d70;
  }
  
  .credits-section > p > em > a:hover {
    font-size: 1.5em;
  }
  
   img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   }
  
/*small screens*/
  @media only screen and (max-width: 800px) {
  
    .title-text {
      padding-right: calc(10px + .5vw);
      height: calc(30px + 1.5vh);
      font-size: calc(15px + 3vw);
      text-align: center;
    }
  
  
    .nav-bar-container {
      position: static;
    }
  
    nav.main-nav > ul {
        list-style-type: none;
        display: flex;
        height: calc(6px + 1.5vh);
        flex-direction: column;
        align-items: center;
    }
  
    nav.main-nav > ul > li {
      padding: 0;
      text-align: center;
    }
  
    .page-section > h1 {
      padding-top: calc(90px + 1.5vh);
      font-size: calc(16px + 1.5vw);
      text-align: center;
    }
  
    .image-and-header > h1 {
      font-size: calc(16px + 1.5vw);
      text-align: center;
    }
  
  
    .credits-section {
      padding-bottom: 4em;
    }
  } 