/*custom fonts*/
@font-face {
    font-family: 'Times New Roman', Times, serif;
    src: url('SpecialElite-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Times New Roman', cursive;
    src: url('IndieFlower-webfont.woff') format('woff');
    font-style: normal;
    font-weight: normal;
  }
  
  /* resets browser defaults */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*measurement now includes padding and borders*/
  }
  
  /* adds smooth scroll effect to make the page section transitions more typewriter-like*/
  html {
    scroll-behavior: smooth;
  }
  
  /* distinguishes typewriter page from background - using lighter shade of the red-pen color*/
  body {
    background-color: #000000;
  }

  
  .typewriter-and-page-container {
    margin: 0 auto; /*centers*/
    max-width: 1000em;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

  
  .typewriter-page {
    margin: 0 auto; /*centers*/
    max-width: 65em; /*width of side border*/
  
    background-color: #FAFAFA; /* off-white */
  
    font-family: 'Times New Roman', Times, serif, monospace;
    color: #444444; /* dark gray */
  
    line-height: 1.5;
    padding: 1em 1em;
    padding-left: 8em;
    padding-right: 8em;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
  .title-and-logo {
    display: flex;
    justify-content: center;
  }
  
  .title-text {
    align-items: center;
  
    padding-right: .4em;
    font-family: 'SpecialElite', "Times New Roman", monospace;
    font-weight: normal;
    height: 1.5em;
    font-size: 1.5em;
  }
  
  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 1em;
  }
  
  .subtitle h1 {
    font-family: "Times New Roman", "Times New Roman", monospace;
    font-weight: 200;
    font-size: 1.5em;
    text-align: center;
  }
  
  /* makes nav bar stick to top of page when it's scrolled past */
  .nav-bar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FAFAFA;
    z-index: 3; /* positions nav bar over side bar images */
  }
  
  nav.main-nav > ul {
      list-style-type: none;
      height: 3em;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  nav.main-nav > ul > li {
    padding-top: 8em;
    padding-bottom: 7.5em;
  }
  
  nav.main-nav > ul > li > a {
    text-decoration: none;
    font-weight: 700; /* Use explicit font-weight, rather than relative keyword */
    font-size: .9rem; /* Use rem instead of em to be consistent across parent/child */
    color: #a90d70; /*red pen color*/
    padding-left: .5em;
    padding-right: .5em;
  
    /* These get OG alignment back */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  nav.main-nav > ul > li > a:hover {
    text-decoration: none;
    font-weight: 900;
    font-size: .95rem;
    color: #444444;
  }
  
  /* to make invisible space for a:hover changes */
  nav.main-nav > ul > li > a::after {
    content: attr(data-text);
    content: attr(data-text) / "";
    height: 0;
    font-size: .95rem; /* Use rem instead of em to be consistent across parent/child */
    font-weight: 900; /* Use explicit font-weight, rather than relative keyword */
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }
  
  .image-and-header {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1 /* puts pinned image beneath typewriter */
  }
  
  /* relative absolute positioning to stick beside page section headers */
  .section-img-book {
    position: absolute;
    left: 616px;
  }
  
  .section-img-cafe {
    position: absolute;
    right: 600px;
  }
  
  .section-img-poster {
    position: absolute;
    left: 590px;
  }
  
  .page-section h1,
  .image-and-header h1 {
      padding-top: 1.25em;
      padding-bottom: .25em;
      color: #333333; /* darker charcoal for emphasis */
      font-family: 'SpecialElite', "Times New Roman", monospace;
      font-weight: strong;
  
      display: flex;
      justify-content: center;
      font-size: 1.5em;
  }
  
  /* fixes issue of navigation bar partially covering header on jump */
  h1 span {
    margin-top: -2.3em;
    padding-bottom: 2.3em;
    display: block;
  }
  
  .page-section > h2 {
    text-align: center;
    padding-top: .25em;
  
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    font-family: "Times New Roman",  monospace;
  }
  
  .page-section > h3 {
    display: flex;
    justify-content: center;
  
    padding-top: .5em;
  
    font-size: 1.25em;
    font-weight: bold;
  }
  
  .page-section > h4 {
    display: flex;
    justify-content: center;
  
    text-align: center;
    padding-top: 1em;
  
    font-family: "Times New Roman", monospace;
    font-size: 1.25em;
    font-weight: lighter;
    color:#a90d70;

  }
  .page-section > h5 {
    display: flex;
    justify-content: left;
  
    text-align: center;
    padding-top: 1em;
  
    font-family: "Times New Roman", monospace;
    font-size: 5em;
    font-weight: bold;
    color:#a90d70;

  }
  
  .page-section > p {
    padding-top: 2em;
    font-size: 1em;
  }
  
  /* styling for the handwriting side comments */
  em {
    font-family: "Times New Roman", monospace;
    font-weight: 300;
    color: #a90d70;
  }
  
  .page-section > p > a,
  .page-section > p > normal,
  .credits-section > a {
    text-decoration: none;
    font-weight: 700; /* use explicit font-weight */
    color: #a90d70;
    font-size: 1rem; /* rem to be consistent parent-child*/
    /*to get alignment back*/
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page-section > p > a:hover {
    text-decoration: none;
    font-weight: 900; /* use explicit font-weight */
    font-size: 1.05rem;
    color: #444444;
  }
  
  /* to make invisible space for a:hover changes */
  .page-section > p > a::after {
    content: attr(hover-text);
    content: attr(hover-text) / "";
    height: 0;
    font-weight: 900; /* use explicit font-weight */
    font-size: 1.05rem;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
  }
  
  @media speech {
    nav.main-nav > ul > li > a::after {
      display: none;
    }
    .page-section > p > a::after {
      display: none;
    }
  }
  
  .menu-container > h1 {
    padding-top: 1.5em;
    text-align: center;
  
    font-family: 'SpecialElite', "Times New Roman", monospace;
    font-weight: 600;
    font-size: 1.5em;
  }
  
  .menu-container > h2 {
    padding-top: 2em;
    text-align: center;
  
    font-size: 1.25em;
  }
  
  .menu-container > h3 {
    padding-top: 1em;
    text-align: center;
  
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
  }
  
  .item-top-bar {
    display: flex;
    justify-content: space-between;
  
    padding-top: 1em;
  
    font-size: 1em;
  }
  
  .item-bottom-bar {
    padding-top: .5em;
    padding-left: 2em;
  
    font-size: .85em;
    font-style: italic;
    font-family: "Times New Roman", monospace;
  }
  
  .credits-section {
    padding-top: 2em;
    text-align: center;
    font-size: .75em;
    padding-bottom: 20em;
    font-family: "Times New Roman", monospace;
  }
  
  .credits-section > p > em > a {
    text-decoration: none;
    font-weight: bold;
    color: #a90d70;
  }
  
  .credits-section > p > em > a:hover {
    font-size: 1.5em;
  }
  
  @media only screen and (min-width: 686px) {
  
    .subtitle h1 {
    /* typewriter effect from: https://css-tricks.com/snippets/css/typewriter-effect/ */
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .1em solid #a90d70; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .16em; /* Adjust as needed */
      animation:
        typing 3.5s steps(25, end),
        blink-caret 1s step-end infinite;
    }
  
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
  
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: #a90d70; }
    }
  
  }
  
  /* makes pinned images disappear when screen size starts to make them look unintentional and cut off*/
  @media only screen and (min-width: 686px) and (max-width: 975px) {
    .section-img-book,
    .section-img-cafe,
    .section-img-poster {
       display: none;
    }
  }
  
  /*responsive to small screens, will update text size to fit screen and remove images that would throw off page*/
  @media only screen and (max-width: 685px) {
  
    .title-text {
      padding-right: calc(10px + .5vw);
      height: calc(30px + 1.5vh);
      font-size: calc(25px + 1.5vw);
    }
  
    .title-and-logo img {
      height: calc(30px + 1.5vw);
      padding-bottom: calc(4px + .5vh);
    }
  
    .subtitle {
      padding-top: calc(15px + .5vh);
      padding-bottom: calc(15px + 1.5vh);
    }
  
    .subtitle h1 {
      font-family: "Times New Roman", monospace;
      font-weight: 200;
      font-size: calc(12px + 1.5vw);
      text-align: center;
    }
  
    .nav-bar-container {
      position: static;
    }
  
    nav.main-nav > ul {
        list-style-type: none;
        display: flex;
        height: calc(6px + 1.5vh);
        flex-direction: column;
        align-items: center;
    }
  
    nav.main-nav > ul > li {
      padding: 0;
      text-align: center;
    }
  
    .page-section > h1 {
      padding-top: calc(90px + 1.5vh);
      font-size: calc(16px + 1.5vw);
      text-align: center;
    }
  
    .image-and-header > h1 {
      font-size: calc(16px + 1.5vw);
      text-align: center;
    }
  
    .typewriter-image {
      display: none;
    }
  
    .section-img-book,
    .section-img-cafe,
    .section-img-poster {
       display: none;
    }
  
    .credits-section {
      padding-bottom: 4em;
    }
  } /*removing typewriter for smaller screens - need to style nav-bar and header too*/